.header-content{
    display: flex;
    justify-content: center;
    height: 46px;
}

.custom-input{
    background: #F3F3F3;
    // color: #92A2A6;
    border:none;
    outline: 0;
    padding: 6px 12px;
    border-radius: 4px;
}

.btn-custom{
    background: #7B8D93;
    border:none;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    min-width: 100px;

    &:active{
        opacity: 0.9;
    }
    &:disabled{
        cursor: no-drop;
        opacity: 0.5;
    }
}


.header-item{
    margin: 0 5px;
}

.btn-red{
    background: lightcoral;
    color: white;
}



@media only screen and (max-width: 992px) {
    .header-content{
        flex-direction: column;
        height: auto;
    }
    .btn-custom{
        min-height: 45px;
        margin-top: 10px;
    }
    .custom-input{
        min-height: 30px;
    }
}