

.leader-item{
    background: #CFD8DC;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    // color: #9FA8AC;
    font-size: 18px;
}