<div class="leader-board-content">
  <h2>
    Leader Board
  </h2>

  <div class="leader-list">
    <div class="leader-item">
      <span class="leader-item__name">
        User name
      </span>
      <span class="leader-item__date">
        12.12.1900
      </span>
    </div>
    <div class="leader-item">
      <span class="leader-item__name">
        User name
      </span>
      <span class="leader-item__date">
        12.12.1900
      </span>
    </div>
    <div class="leader-item">
      <span class="leader-item__name">
        User name
      </span>
      <span class="leader-item__date">
        12.12.1900
      </span>
    </div>
  </div>
</div>