

.game-field{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-field-row{
    display: flex;
}

.game-field-square{
    width: 35px;
    height: 35px;
    border:1px solid grey;
}



.is-pending{
    background: lightblue;
}

.is-checked-by-ai{
    background: red;
}

.is-checked-by-user{
    background: greenyellow;
}

.game-message{
    margin: 30px 0;
    font-size: 20px;
    color: #8B8B8B;
}